.edit-password-btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color:rgb(57, 57, 57);
    height: 100%;
    color: rgb(255,205,97);
    transition: 0.15s;
}
.edit-password-btn:hover {
    background-color: rgb(99, 99, 99);
}
.edit-password-btn:active {
    background-color: rgb(255,205,97);
    color: rgb(57, 57, 57);
}